@charset "UTF-8";

html {
  font-size: 16px;
}

:root {
  --black: #222;
  --blue: #66f;
  --green: #6f6;
  --red: #f66;
  --white: #eee;
  --white-low-opacity: rgba(255, 255, 255, .5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: var(--white);
  font-family: "Roboto", sans-serif;
}

#container {
  background-color: var(--black);
  font-size: 1rem;
  line-height: 1;
  margin: 0 auto;
  max-width: 580px;
  min-height: 100vh;
  min-width: 320px;
  padding: .8em;
}

#title {
  font-size: 1.6rem;
  text-align: center;
}

#add-contact-wrapper {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: .5em;
}

input {
  background-color: transparent;
  border: 1px solid var(--white-low-opacity);
  border-radius: .4em;
  color: var(--white);
  flex-grow: 1;
  font-size: 1rem;
  height: 2em;
  outline: none;
  padding: .3em;
}

input:focus {
  border-color: var(--blue);
}

button {
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  outline: none;
  transition: background-color .3s ease;
  -moz-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  -webkit-transition: background-color .3s ease;
}

button:active {
  transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
  -webkit-transform: scale(.95);
}

button:hover {
  cursor: pointer;
}

#add-contact-button {
  color: var(--green);
  border-color: var(--green);
  border-radius: .5em;
  padding: .5em;
}

#add-contact-button:focus,
#add-contact-button:hover {
  background-color: var(--green);
  color: var(--black);
}

#contacts {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.contact {
  border: 1px solid var(--white-low-opacity);
  border-radius: .5em;
  height: 3em;
  padding: .3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-wrapper {
  display: flex;
  gap: .3em;
}

.edit-button,
.delete-button {
  border-radius: 50%;
  height: 1.9em;
  width: 1.9em;
  font-size: 1.2rem;
}

button > i {
  pointer-events: none;
}

button:focus,
button:hover {
  color: var(--white);
}

.edit-button {
  border-color: var(--blue);
  color: var(--blue);
}

.edit-button:focus,
.edit-button:hover {
  background-color: var(--blue);
}

.delete-button {
  border-color: var(--red);
  color: var(--red);
}

.delete-button:focus,
.delete-button:hover {
  background-color: var(--red);
}